.app-container {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    overflow: auto;
    background: var(--theme-page-background);
    color: var(--theme-font-color);
}

.app-theme-dark {
    --theme-page-background: #222;
    --theme-page-shadow: #131313;
    --theme-card-background: #1a1a1a;
    --theme-card-alt-background: #1e1e1e;
    --theme-font-color: white;
}

.app-theme-light {
    --theme-page-background: white;
    --theme-page-shadow: #d4d4d4;
    --theme-card-background: #E8E8E8;
    --theme-card-alt-background: #dbdbdb;
    --theme-font-color: black;
}

.body {
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}