.sidebarItemParent,
.sidebarItemChild {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: background-color 0.125s;
    cursor: pointer;
    user-select: none;
}

.sidebarItemParent:hover,
.sidebarItemChild:hover {
    background-color: var(--theme-page-border);
}

.sidebarItemChildren {
    padding-left: 1.5rem;
}