.sidebarItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.125s;
}

.sidebarItem:hover {
    background-color: var(--theme-page-border);
}